In [1]:
from nlptest import Harness

## SPACY

In [2]:
h = Harness("ner", model="en_core_web_sm", data="demo/data/test.conll", hub="spacy")
h.configure({
    'tasks': ['ner'],
    'tests_types': ['uppercase', 'lowercase'],
    'min_pass_rate':{'default':0.5}
})

c:\Users\alytarik\anaconda3\envs\nlptest\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

{'tasks': ['ner'],
 'tests_types': ['uppercase', 'lowercase'],
 'min_pass_rate': {'default': 0.5}}

In [3]:
h.generate().run().report()

uppercase
lowercase
38 predictions have different lenghts than dataset and will be ignored.
Please make sure dataset and model uses same tokenizer.

c:\Users\alytarik\anaconda3\envs\nlptest\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\alytarik\anaconda3\envs\nlptest\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\alytarik\anaconda3\envs\nlptest\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\alytarik\anaconda3\envs\nlptest\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\alytarik\anaconda3\envs\nlptest\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\alytarik\anaconda3\envs\nlptest\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

   test_type fail_count pass_count pass_rate minimum_pass_rate   pass
0  uppercase       60.0       31.0       34%               50%  False
1  lowercase       48.0       43.0       47%               50%  False
0   micro-f1          -          -       70%               50%   True
1   macro-f1          -          -        7%               50%  False

In [4]:
h.load_testcases_df()

,test_type,original,test_case,expected_result
0,uppercase,"SOCCER - JAPAN GET LUCKY WIN , CHINA IN SURPRI...","SOCCER - JAPAN GET LUCKY WIN , CHINA IN SURPRI...","[ORG, ORG]"
1,uppercase,Nadim Ladki,NADIM LADKI,[GPE]
2,uppercase,"AL-AIN , United Arab Emirates 1996-12-06","AL-AIN , UNITED ARAB EMIRATES 1996-12-06","[ORG, GPE, DATE]"
3,uppercase,Japan began the defence of their Asian Cup tit...,JAPAN BEGAN THE DEFENCE OF THEIR ASIAN CUP TIT...,"[GPE, EVENT, CARDINAL, GPE, ORG, DATE]"
4,uppercase,But China saw their luck desert them in the se...,BUT CHINA SAW THEIR LUCK DESERT THEM IN THE SE...,"[GPE, ORDINAL, CARDINAL, GPE]"
...,...,...,...,...
177,lowercase,"for , goals against , points ) :","for , goals against , points ) :",[]
178,lowercase,Uzbekistan 1 1 0 0 2 0 3,uzbekistan 1 1 0 0 2 0 3,"[CARDINAL, CARDINAL, CARDINAL]"
179,lowercase,Japan 1 1 0 0 2 1 3,japan 1 1 0 0 2 1 3,"[GPE, CARDINAL, CARDINAL]"
180,lowercase,Syria 1 0 0 1 1 2 0,syria 1 0 0 1 1 2 0,"[GPE, CARDINAL]"
181,lowercase,China 1 0 0 1 0 2 0,china 1 0 0 1 0 2 0,"[GPE, CARDINAL, CARDINAL]"

In [6]:
h.accuracy_report()

   test_case  test_type  actual_result  expected_result   pass
0          -   micro-f1       0.704675              0.5   True
1          -   macro-f1       0.070064              0.5  False
2   CARDINAL  precision       0.000000              0.5  False
3   CARDINAL     recall       0.000000              0.5  False
4   CARDINAL   f1-score       0.000000              0.5  False
5       DATE  precision       0.000000              0.5  False
6       DATE     recall       0.000000              0.5  False
7       DATE   f1-score       0.000000              0.5  False
8      EVENT  precision       0.000000              0.5  False
9      EVENT     recall       0.000000              0.5  False
10     EVENT   f1-score       0.000000              0.5  False
11       GPE  precision       0.000000              0.5  False
12       GPE     recall       0.000000              0.5  False
13       GPE   f1-score       0.000000              0.5  False
14       LOC  precision       0.000000              0.5  False
15       LOC     recall       0.000000              0.5  False
16       LOC   f1-score       0.000000              0.5  False
17      MISC  precision       0.000000              0.5  False
18      MISC     recall       0.000000              0.5  False
19      MISC   f1-score       0.000000              0.5  False
20      NORP  precision       0.000000              0.5  False
21      NORP     recall       0.000000              0.5  False
22      NORP   f1-score       0.000000              0.5  False
23         O  precision       0.936364              0.5   True
24         O     recall       0.886657              0.5   True
25         O   f1-score       0.910833              0.5   True
26   ORDINAL  precision       0.000000              0.5  False
27   ORDINAL     recall       0.000000              0.5  False
28   ORDINAL   f1-score       0.000000              0.5  False
29       ORG  precision       0.000000              0.5  False
30       ORG     recall       0.000000              0.5  False
31       ORG   f1-score       0.000000              0.5  False
32       PER  precision       0.000000              0.5  False
33       PER     recall       0.000000              0.5  False
34       PER   f1-score       0.000000              0.5  False
35    PERSON  precision       0.000000              0.5  False
36    PERSON     recall       0.000000              0.5  False
37    PERSON   f1-score       0.000000              0.5  False
38      TIME  precision       0.000000              0.5  False
39      TIME     recall       0.000000              0.5  False
40      TIME   f1-score       0.000000              0.5  False

In [7]:
h.generated_results_df()

,test_type,original,test_case,expected_result,actual_result,pass
0,uppercase,"SOCCER - JAPAN GET LUCKY WIN , CHINA IN SURPRI...","SOCCER - JAPAN GET LUCKY WIN , CHINA IN SURPRI...","[ORG, ORG]","[ORG, ORG]",True
1,uppercase,Nadim Ladki,NADIM LADKI,[GPE],[ORG],False
2,uppercase,"AL-AIN , United Arab Emirates 1996-12-06","AL-AIN , UNITED ARAB EMIRATES 1996-12-06","[ORG, GPE, DATE]","[ORG, GPE, DATE]",True
3,uppercase,Japan began the defence of their Asian Cup tit...,JAPAN BEGAN THE DEFENCE OF THEIR ASIAN CUP TIT...,"[GPE, EVENT, CARDINAL, GPE, ORG, DATE]","[GPE, CARDINAL, DATE]",False
4,uppercase,But China saw their luck desert them in the se...,BUT CHINA SAW THEIR LUCK DESERT THEM IN THE SE...,"[GPE, ORDINAL, CARDINAL, GPE]","[ORG, ORDINAL, ORG, CARDINAL, ORG]",False
...,...,...,...,...,...,...
36,recall,-,PERSON,0.5,0.0,False
37,f1-score,-,PERSON,0.5,0.0,False
38,precision,-,TIME,0.5,0.0,False
39,recall,-,TIME,0.5,0.0,False
40,f1-score,-,TIME,0.5,0.0,False

## HF

In [9]:
h2 = Harness("ner", model="dslim/bert-base-NER", data="demo/data/test.conll", hub="transformers")
h2.configure({
    'tasks': ['ner'],
    'tests_types': ['uppercase', 'lowercase'],
    'min_pass_rate':{'default':0.5}
})

{'tasks': ['ner'],
 'tests_types': ['uppercase', 'lowercase'],
 'min_pass_rate': {'default': 0.5}}

In [10]:
h2.generate().run().report()

uppercase
lowercase
75 predictions have different lenghts than dataset and will be ignored.
Please make sure dataset and model uses same tokenizer.

   test_type fail_count pass_count pass_rate minimum_pass_rate   pass
0  uppercase       84.0        7.0        8%               50%  False
1  lowercase       82.0        9.0       10%               50%  False
0   micro-f1          -          -      100%               50%   True
1   macro-f1          -          -      100%               50%   True

In [11]:
h2.generated_results_df()

,test_type,original,test_case,expected_result,actual_result,pass
0,uppercase,"SOCCER - JAPAN GET LUCKY WIN , CHINA IN SURPRI...","SOCCER - JAPAN GET LUCKY WIN , CHINA IN SURPRI...","[O, O, O, O, O, B-MISC, I-LOC, O, O, O, B-PER,...","[O, O, O, O, O, B-MISC, I-LOC, O, O, O, B-PER,...",True
1,uppercase,Nadim Ladki,NADIM LADKI,"[B-PER, B-PER, B-PER, I-PER, O, I-PER]","[B-ORG, I-ORG, I-ORG, I-ORG, I-ORG, I-ORG, I-ORG]",False
2,uppercase,"AL-AIN , United Arab Emirates 1996-12-06","AL-AIN , UNITED ARAB EMIRATES 1996-12-06","[B-LOC, I-LOC, I-LOC, I-LOC, O, B-LOC, I-LOC, ...","[B-ORG, I-ORG, I-ORG, I-ORG, O, B-ORG, I-ORG, ...",False
3,uppercase,Japan began the defence of their Asian Cup tit...,JAPAN BEGAN THE DEFENCE OF THEIR ASIAN CUP TIT...,"[B-LOC, O, O, O, O, O, B-MISC, I-MISC, O, O, O...","[B-MISC, O, O, O, O, O, O, O, O, O, O, O, O, O...",False
4,uppercase,But China saw their luck desert them in the se...,BUT CHINA SAW THEIR LUCK DESERT THEM IN THE SE...,"[O, B-LOC, O, O, O, O, O, O, O, O, O, O, O, O,...","[O, O, B-ORG, I-ORG, O, O, O, O, O, O, O, O, O...",False
...,...,...,...,...,...,...
6,recall,-,MISC,0.5,1.0,True
7,f1-score,-,MISC,0.5,1.0,True
8,precision,-,O,0.5,1.0,True
9,recall,-,O,0.5,1.0,True
10,f1-score,-,O,0.5,1.0,True

In [12]:
h2.accuracy_report()

   test_case  test_type  actual_result  expected_result  pass
0          -   micro-f1            1.0              0.5  True
1          -   macro-f1            1.0              0.5  True
2        LOC  precision            1.0              0.5  True
3        LOC     recall            1.0              0.5  True
4        LOC   f1-score            1.0              0.5  True
5       MISC  precision            1.0              0.5  True
6       MISC     recall            1.0              0.5  True
7       MISC   f1-score            1.0              0.5  True
8          O  precision            1.0              0.5  True
9          O     recall            1.0              0.5  True
10         O   f1-score            1.0              0.5  True

## Spark

In [13]:
import sparknlp
from sparknlp.base import *
from sparknlp.annotator import *

spark = sparknlp.start()
spark

In [14]:
documentAssembler = DocumentAssembler()\
		.setInputCol("text")\
		.setOutputCol("document")

tokenizer = Tokenizer()\
		.setInputCols(["document"])\
		.setOutputCol("token")
	
embeddings = WordEmbeddingsModel.pretrained('glove_100d') \
		.setInputCols(["document", 'token']) \
		.setOutputCol("embeddings")

ner = NerDLModel.pretrained("ner_dl", 'en') \
		.setInputCols(["document", "token", "embeddings"]) \
		.setOutputCol("ner")

ner_pipeline = Pipeline().setStages([
				documentAssembler,
				tokenizer,
				embeddings,
				ner
    ])
ner_model = ner_pipeline.fit(spark.createDataFrame([[""]]).toDF("text"))

glove_100d download started this may take some time.
Approximate size to download 145.3 MB
[OK!]
ner_dl download started this may take some time.
Approximate size to download 13.6 MB
[OK!]

In [15]:
h3 = Harness(task="ner", model=ner_model, hub="johnsnowlabs", data="demo/data/test.conll")
h3.configure({
    'tasks': ['ner'],
    'tests_types': ['uppercase', 'lowercase'],
    'min_pass_rate':{'default':0.5}
})

{'tasks': ['ner'],
 'tests_types': ['uppercase', 'lowercase'],
 'min_pass_rate': {'default': 0.5}}

In [16]:
h3.generate().run().report()

uppercase
lowercase
25 predictions have different lenghts than dataset and will be ignored.
Please make sure dataset and model uses same tokenizer.

   test_type fail_count pass_count pass_rate minimum_pass_rate   pass
0  uppercase       16.0       75.0       82%               50%   True
1  lowercase       77.0       14.0       15%               50%  False
0   micro-f1          -          -       99%               50%   True
1   macro-f1          -          -       88%               50%   True

In [17]:
h3.accuracy_report()

   test_case  test_type  actual_result  expected_result   pass
0          -   micro-f1       0.990809              0.5   True
1          -   macro-f1       0.881800              0.5   True
2        LOC  precision       0.983051              0.5   True
3        LOC     recall       0.950820              0.5   True
4        LOC   f1-score       0.966667              0.5   True
5       MISC  precision       0.941176              0.5   True
6       MISC     recall       0.969697              0.5   True
7       MISC   f1-score       0.955224              0.5   True
8          O  precision       0.998817              0.5   True
9          O     recall       0.996458              0.5   True
10         O   f1-score       0.997636              0.5   True
11       ORG  precision       0.333333              0.5  False
12       ORG     recall       1.000000              0.5   True
13       ORG   f1-score       0.500000              0.5   True
14       PER  precision       1.000000              0.5   True
15       PER     recall       0.979167              0.5   True
16       PER   f1-score       0.989474              0.5   True

In [18]:
h3.generated_results_df()

,test_type,original,test_case,expected_result,actual_result,pass
0,uppercase,"SOCCER - JAPAN GET LUCKY WIN , CHINA IN SURPRI...","SOCCER - JAPAN GET LUCKY WIN , CHINA IN SURPRI...","[O, O, B-LOC, O, O, O, O, B-LOC, O, O, O, O]","[O, O, B-LOC, O, O, O, O, B-LOC, O, O, O, O]",True
1,uppercase,Nadim Ladki,NADIM LADKI,"[B-ORG, I-ORG]","[B-ORG, I-ORG]",True
2,uppercase,"AL-AIN , United Arab Emirates 1996-12-06","AL-AIN , UNITED ARAB EMIRATES 1996-12-06","[B-LOC, O, B-LOC, I-LOC, I-LOC, O]","[B-LOC, O, B-LOC, I-LOC, I-LOC, O]",True
3,uppercase,Japan began the defence of their Asian Cup tit...,JAPAN BEGAN THE DEFENCE OF THEIR ASIAN CUP TIT...,"[B-LOC, O, O, O, O, O, B-MISC, I-MISC, O, O, O...","[B-LOC, O, O, O, O, O, B-MISC, I-MISC, O, O, O...",True
4,uppercase,But China saw their luck desert them in the se...,BUT CHINA SAW THEIR LUCK DESERT THEM IN THE SE...,"[O, B-LOC, O, O, O, O, O, O, O, O, O, O, O, O,...","[O, B-LOC, O, O, B-MISC, I-MISC, O, O, O, O, O...",False
...,...,...,...,...,...,...
12,recall,-,ORG,0.5,1.0,True
13,f1-score,-,ORG,0.5,0.5,True
14,precision,-,PER,0.5,1.0,True
15,recall,-,PER,0.5,0.979167,True
16,f1-score,-,PER,0.5,0.989474,True