![image.png]()

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/JohnSnowLabs/langtest/blob/main/demo/tutorials/test-specific-notebooks/Robustness_DEMO.ipynb)

**LangTest** is an open-source python library designed to help developers deliver safe and effective Natural Language Processing (NLP) models. Whether you are using **John Snow Labs, Hugging Face, or Spacy** models, it has got you covered. You can test any Named Entity Recognition (NER) and Text Classification model using the libraray. The library supports 50+ out of the box tests. These tests fall into robustness, accuracy, bias, representation and fairness test categories.

Metrics are calculated by comparing the model's extractions in the original list of sentences against the extractions carried out in the noisy list of sentences. The original annotated labels are not used at any point, we are simply comparing the model against itself in a 2 settings.

# Getting started with LangTest on John Snow Labs

In [ ]:
!pip install langtest

# John Snow Labs setup

In [ ]:
!pip install johnsnowlabs

# Harness and its Parameters

The Harness class is a testing class for Natural Language Processing (NLP) models. It evaluates the performance of a NLP model on a given task using test data and generates a report with test results.Harness can be imported from the LangTest library in the following way.

In [3]:
#Import Harness from the LangTest library
from langtest import Harness

It imports the Harness class from within the module, that is designed to provide a blueprint or framework for conducting NLP testing, and that instances of the Harness class can be customized or configured for different testing scenarios or environments.

Here is a list of the different parameters that can be passed to the Harness function:

<br/>


| Parameter  | Description |  
| - | - | 
|**task**     |Task for which the model is to be evaluated (text-classification or ner)|
|**model**     |PipelineModel or path to a saved model or pretrained pipeline/model from hub.
|**data**       |Path to the data that is to be used for evaluation. Can be .csv or .conll file in the CoNLL format 
|**config**     |Configuration for the tests to be performed, specified in form of a YAML file.
|**hub**       |model hub to load from the path. Required if model param is passed as path.|

<br/>
<br/>

# Robustness Testing

Model robustness can be described as the ability of a model to keep similar levels of accuracy, precision and recall when perturbations are made to the data it is predicting on. For example, in the case of NER, the goal is to understand how documents with typos or fully uppercased sentences affect the model's prediction performance compared to documents similar to those in the original training set.



**`Supported Robustness tests :`**<br>
 

- **`uppercase`**: capitalization of the test set is turned into uppercase

- **`lowercase`**: capitalization of the test set is turned into lowercase

- **`titlecase`**: capitalization of the test set is turned into title case

- **`add_punctuation`**: special characters at end of each sentence are replaced by other special characters, if no
special character at the end, one is added

- **`strip_punctuation`**: special characters are removed from the sentences (except if found in numbers, such as '2.5')

- **`add_typo`**: typos are introduced in sentences

- **`add_contraction`**: contractions are added where possible (e.g. 'do not' contracted into 'don't')

- **`add_context`**: tokens are added at the beginning and at the end of the sentences

- **`swap_entities`**: named entities replaced with same entity type with same token count from terminology

- **`swap_cohyponyms`**: Named entities replaced with co-hyponym from the WordNet database

- **`american_to_british`**: American English will be changed to British English

- **`british_to_american`**: British English will be changed to American English

- **`number_to_word`**: Converts numeric values in sentences to their equivalent verbal representation.

- **`add_ocr_typo`**: Ocr typos are introduced in sentences

- **`multiple_perturbations`** : Transforms the given sentences by applying multiple perturbations in a specific sequence.
<br/>

## Testing robustness of a pretrained NER model/pipeline

Testing a NER model's robustness gives us an idea on how our data may need to be modified to make the model more robust. We can use a pretrained model/pipeline or define our own custom pipeline or load a saved NER model to test.

Here we are directly passing a pretrained model/pipeline from hub as the model parameter in harness and running the tests.

### Test Configuration

Test configuration can be passed in the form of a YAML file as shown below or using .configure() method


**Config YAML format** :
```
tests:     
  defaults:
    min_pass_rate: 0.65
  robustness:
    add_typo:
      min_pass_rate: 0.66
    uppercase:
      min_pass_rate: 0.62
  
```

If config file is not present, we can also use the **.configure()** method to manually configure the harness to perform the needed tests.

In [ ]:
harness = Harness(task='ner',  model= "ner.dl", hub = "johnsnowlabs")

Warning::Spark Session already created, some configs may not take.
recognize_entities_dl download started this may take some time.
Approx size to download 160.1 MB
[OK!]

We can use the .configure() method to manually define our test configuration for the robustness tests.

In [ ]:
harness.configure({
  'tests': {
  'defaults': {'min_pass_rate': 0.65},
  'robustness': {
      'add_typo': {'min_pass_rate': 0.66}, 
      'uppercase':{'min_pass_rate': 0.62}
    }
  }
})

{'tests': { 'defaults': {'min_pass_rate': 0.65},
 'robustness': {'add_typo': {'min_pass_rate': 0.66},
   'uppercase': {'min_pass_rate': 0.62}}}}

Here we have configured the harness to perform two robustness tests (uppercase and add_typo) and defined the minimum pass rate for each test.

➤ You can adjust the level of transformation in the sentence by using the "`prob`" parameter, which controls the proportion of words to be changed during robustness tests.

➤ **NOTE** : "`prob`" defaults to 1.0, which means all words will be transformed.
```
harness.configure(
{
 'tests': {
    'defaults': {'min_pass_rate': 0.65},
      'robustness': {
        'add_typo': {'min_pass_rate': 0.66, 'prob': 0.50}, 
        'uppercase':{'min_pass_rate': 0.60, 'prob': 0.70},
      }
  }
})

```


### Generating the test cases.

In [ ]:
harness.generate()

Generating testcases... (robustness): 100%|██████████| 1/1 [00:27<00:00, 27.79s/it]

harness.generate() method automatically generates the test cases (based on the provided configuration)

In [ ]:
harness.testcases()

,category,test_type,original,test_case,expected_result
0,robustness,add_typo,"SOCCER - JAPAN GET LUCKY WIN , CHINA IN SURPRI...","SOCCER - JAPAN GST LUCKY WIN , CHINA IN SURPRI...","JAPAN: LOC, CHINA: LOC"
1,robustness,add_typo,Nadim Ladki,Nadin Ladki,Nadim Ladki: ORG
2,robustness,add_typo,"AL-AIN , United Arab Emirates 1996-12-06","AL-SIN , United Arab Emirates 1996-12-06","AL-AIN: LOC, United Arab Emirates: LOC"
3,robustness,add_typo,Japan began the defence of their Asian Cup tit...,Japan began the defence of their Asian Cup tit...,"Japan: LOC, Asian Cup: MISC, Syria: LOC"
4,robustness,add_typo,But China saw their luck desert them in the se...,But China saw their luck desert them in the se...,"China: LOC, Uzbekistan: LOC"
...,...,...,...,...,...
447,robustness,uppercase,Portuguesa 1 Atletico Mineiro 0,PORTUGUESA 1 ATLETICO MINEIRO 0,"Portuguesa: ORG, Atletico Mineiro: ORG"
448,robustness,uppercase,CRICKET - LARA ENDURES ANOTHER MISERABLE DAY .,CRICKET - LARA ENDURES ANOTHER MISERABLE DAY .,LARA: PER
449,robustness,uppercase,Robert Galvin,ROBERT GALVIN,Robert Galvin: PER
450,robustness,uppercase,MELBOURNE 1996-12-06,MELBOURNE 1996-12-06,MELBOURNE: LOC
451,robustness,uppercase,Australia gave Brian Lara another reason to be...,AUSTRALIA GAVE BRIAN LARA ANOTHER REASON TO BE...,"Australia: LOC, Brian Lara: PER, West Indies: ..."

harness.testcases() method gives the produced test cases in form of a pandas data frame.

### Running the tests.

In [ ]:
harness.run()

Running test cases...: 100%|██████████| 452/452 [00:49<00:00,  9.15it/s]

Called after harness.generate() and is to used to run all the tests.  Returns a pass/fail flag for each test.

In [ ]:
harness.generated_results()

,category,test_type,original,test_case,expected_result,actual_result,pass
0,robustness,add_typo,"SOCCER - JAPAN GET LUCKY WIN , CHINA IN SURPRI...","SOCCER - JAPAN GST LUCKY WIN , CHINA IN SURPRI...","JAPAN: LOC, CHINA: LOC","JAPAN: LOC, CHINA: LOC",True
1,robustness,add_typo,Nadim Ladki,Nadin Ladki,Nadim Ladki: ORG,Nadin Ladki: PER,False
2,robustness,add_typo,"AL-AIN , United Arab Emirates 1996-12-06","AL-SIN , United Arab Emirates 1996-12-06","AL-AIN: LOC, United Arab Emirates: LOC","AL-SIN: LOC, United Arab Emirates: LOC",True
3,robustness,add_typo,Japan began the defence of their Asian Cup tit...,Japan began the defence of their Asian Cup tit...,"Japan: LOC, Asian Cup: MISC, Syria: LOC","Japan: LOC, Asian Cup: MISC, Syria: LOC",True
4,robustness,add_typo,But China saw their luck desert them in the se...,But China saw their luck desert them in the se...,"China: LOC, Uzbekistan: LOC","China: LOC, Uzbekistan: LOC",True
...,...,...,...,...,...,...,...
447,robustness,uppercase,Portuguesa 1 Atletico Mineiro 0,PORTUGUESA 1 ATLETICO MINEIRO 0,"Portuguesa: ORG, Atletico Mineiro: ORG","PORTUGUESA: ORG, ATLETICO MINEIRO: ORG",True
448,robustness,uppercase,CRICKET - LARA ENDURES ANOTHER MISERABLE DAY .,CRICKET - LARA ENDURES ANOTHER MISERABLE DAY .,LARA: PER,LARA: PER,True
449,robustness,uppercase,Robert Galvin,ROBERT GALVIN,Robert Galvin: PER,ROBERT GALVIN: PER,True
450,robustness,uppercase,MELBOURNE 1996-12-06,MELBOURNE 1996-12-06,MELBOURNE: LOC,MELBOURNE: LOC,True
451,robustness,uppercase,Australia gave Brian Lara another reason to be...,AUSTRALIA GAVE BRIAN LARA ANOTHER REASON TO BE...,"Australia: LOC, Brian Lara: PER, West Indies: ...","AUSTRALIA: LOC, BRIAN LARA: PER, WEST INDIES: LOC",False

This method returns the generated results in the form of a pandas dataframe, which provides a convenient and easy-to-use format for working with the test results. You can use this method to quickly identify the test cases that failed and to determine where fixes are needed.

### Report of the tests

In [ ]:
harness.report()

,category,test_type,fail_count,pass_count,pass_rate,minimum_pass_rate,pass
0,robustness,add_typo,49,177,78%,66%,True
1,robustness,uppercase,45,181,80%,62%,True

Called after harness.run() and it summarizes the results giving information about pass and fail counts and overall test pass/fail flag.

### Multiple Perturbations Test

The `multiple_perturbations` test combines multiple tests into a single test by applying a sequence of perturbations to transform the given sentences. These perturbations are applied in a specific sequence.

Please note that this test is only supported for the `text-classification`, `question-answering`, and `summarization` tasks.

In [4]:
harness = Harness( 
            task = "text-classification",
            model='textcat_imdb',
            hub = "spacy"
        )

### Test Configuration

Test configuration can be passed in the form of a YAML file as shown below or using .configure() method


**Config YAML format** :
```
tests:
  defaults:
    min_pass_rate: 0.65
  robustness:
    multiple_perturbations:
      min_pass_rate: 0.60
      perturbations1:
         american_to_british
         uppercase
         add_typo
      perturbations2:
         number_to_word
         add_slangs

```
| Perturbation Set | Transformation Order                                |
|------------------|-----------------------------------------------------|
| perturbations1   | `american_to_british` -> `uppercase` -> `add_typo`   |
| perturbations2   | `number_to_word` -> `add_slangs`                     |


If config file is not present, we can also use the **.configure()** method to manually configure the harness to perform the needed tests.

In [5]:
harness.configure({
    'tests': {
        'defaults': {'min_pass_rate': 0.65},
        'robustness': {
            'add_ocr_typo': {'min_pass_rate': 0.70},
            'multiple_perturbations': {
                'min_pass_rate': 0.60,
                'perturbations1': [
                    'american_to_british',
                    'uppercase',
                    'add_typo'
                ],
                'perturbations2': [
                    'number_to_word',
                    'add_slangs'
                ]
            }
        }
    }
})

{'tests': {'defaults': {'min_pass_rate': 0.65},
  'robustness': {'add_ocr_typo': {'min_pass_rate': 0.7},
   'multiple_perturbations': {'min_pass_rate': 0.6,
    'perturbations1': ['american_to_british', 'uppercase', 'add_typo'],
    'perturbations2': ['number_to_word', 'add_slangs']}}}}

➤ You can adjust the level of transformation in the sentence by using the "`prob`" parameter, which controls the proportion of words to be changed during robustness tests.

➤ **NOTE** : "`prob`" defaults to 1.0, which means all words will be transformed.

```
harness.configure({
    'tests': {
        'defaults': {'min_pass_rate': 0.65},
        'robustness': {
            'add_ocr_typo': {'min_pass_rate': 0.70},
            'multiple_perturbations': {
                'min_pass_rate': 0.60,
                'prob':0.50, 
                'perturbations1': [
                    'american_to_british',
                    'uppercase',
                    'add_typo'
                ]
            }
        }
    }
})
```

### Generating the test cases.

In [6]:
harness.generate()

Generating testcases...: 100%|██████████| 1/1 [00:00<00:00, 492.52it/s]

harness.generate() method automatically generates the test cases (based on the provided configuration)

In [7]:
harness.testcases()

,category,test_type,original,test_case,expected_result
0,robustness,add_ocr_typo,Just as a reminder to anyone just now reading ...,Just as a reminder t^o anvone jufl noiv readin...,POS
1,robustness,add_ocr_typo,Like CURSE OF THE KOMODO was for the creature ...,Like CURSE OF THE KOMODO was f^or tbe creature...,NEG
2,robustness,add_ocr_typo,"I think that the costumes were excellent, and ...","I th1nk tiiat tbe costumes were excellent, a^n...",POS
3,robustness,add_ocr_typo,This is one of my most favorite movies of all ...,Tbis is on^e of m^y moit favorite movies of al...,POS
4,robustness,add_ocr_typo,This program was on for a brief period when I ...,Tbis pr0gram was on f^r a brief per1od v/hen I...,POS
...,...,...,...,...,...
595,robustness,number_to_word-add_slangs,"The opening was a steal from ""Eight-legged Fre...","The opening was a steal from ""Eight-legged Fre...",NEG
596,robustness,number_to_word-add_slangs,"Now don't get me wrong, I love seeing half nak...","Now don't get me pete tong, I love seeing half...",NEG
597,robustness,number_to_word-add_slangs,"Though I saw this movie dubbed in French, so I...","Though I saw this flicks dubbed in French, so ...",POS
598,robustness,number_to_word-add_slangs,This is one of the best presentations of the 6...,This is one of the best presentations of the 6...,POS
599,robustness,number_to_word-add_slangs,I saw this movie previewed before something el...,I saw this flicks previewed before something e...,NEG

harness.testcases() method gives the produced test cases in form of a pandas data frame.

### Running the tests.

In [8]:
harness.run()

Running testcases... : 100%|██████████| 600/600 [00:10<00:00, 59.69it/s]

Called after harness.generate() and is to used to run all the tests.  Returns a pass/fail flag for each test.

In [10]:
harness.generated_results()

,category,test_type,original,test_case,expected_result,actual_result,pass
0,robustness,add_ocr_typo,Just as a reminder to anyone just now reading ...,Just as a reminder t^o anvone jufl noiv readin...,POS,POS,True
1,robustness,add_ocr_typo,Like CURSE OF THE KOMODO was for the creature ...,Like CURSE OF THE KOMODO was f^or tbe creature...,NEG,NEG,True
2,robustness,add_ocr_typo,"I think that the costumes were excellent, and ...","I th1nk tiiat tbe costumes were excellent, a^n...",POS,NEG,False
3,robustness,add_ocr_typo,This is one of my most favorite movies of all ...,Tbis is on^e of m^y moit favorite movies of al...,POS,POS,True
4,robustness,add_ocr_typo,This program was on for a brief period when I ...,Tbis pr0gram was on f^r a brief per1od v/hen I...,POS,NEG,False
...,...,...,...,...,...,...,...
595,robustness,number_to_word-add_slangs,"The opening was a steal from ""Eight-legged Fre...","The opening was a steal from ""Eight-legged Fre...",NEG,NEG,True
596,robustness,number_to_word-add_slangs,"Now don't get me wrong, I love seeing half nak...","Now don't get me pete tong, I love seeing half...",NEG,NEG,True
597,robustness,number_to_word-add_slangs,"Though I saw this movie dubbed in French, so I...","Though I saw this flicks dubbed in French, so ...",POS,POS,True
598,robustness,number_to_word-add_slangs,This is one of the best presentations of the 6...,This is one of the best presentations of the 6...,POS,POS,True
599,robustness,number_to_word-add_slangs,I saw this movie previewed before something el...,I saw this flicks previewed before something e...,NEG,NEG,True

This method returns the generated results in the form of a pandas dataframe, which provides a convenient and easy-to-use format for working with the test results. You can use this method to quickly identify the test cases that failed and to determine where fixes are needed.

### Report of the tests

In [9]:
harness.report()

,category,test_type,fail_count,pass_count,pass_rate,minimum_pass_rate,pass
0,robustness,add_ocr_typo,31,169,84%,70%,True
1,robustness,american_to_british-uppercase-add_typo,75,125,62%,60%,True
2,robustness,number_to_word-add_slangs,8,192,96%,60%,True

Called after harness.run() and it summarizes the results giving information about pass and fail counts and overall test pass/fail flag.